name: Day8 First Workflow

on:
  push:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run simple command
        run: echo "Hello from GitHub Actions"
